* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb( 43, 47, 56);
}

#hero {
    background-image: url(./assets/bungalow_cluster.jpg);
    width: 100%;
    height: 650px;
    background-size: cover;
    padding-bottom: 50px;
}

#logo {
    width: 100px;
    border-radius: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb( 43, 47, 56);
}

#welcome_heading {
    padding: 3rem 2rem 20rem 2rem;
}

ul {
    display: flex;
}

li {
    font-size: large;
    padding: 1rem;
    list-style: none;
}

#hero a {
    text-decoration: none;
    color: rgb( 229, 187, 87);
}

.resort_name {
    padding: .5rem 2rem;
    color: rgb( 140, 255, 251);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#welcome_heading {
    width: 15rem;
    padding-top: 0.9rem;
}

#welcome_heading h1 {
    color: black;
    font-size: xx-large;
}

#welcome_heading p {
    color: black;
    font-weight: bold;
}

button {
    background-color: rgb( 43, 47, 56);
    color: white;
    border-color: black;
    border-radius: 5%;
    padding: 4px;
    font-size: medium;
}

button:hover {background-color:  rgb( 43, 47, 56)}

button:active {
    background-color: rgb( 43, 47, 56);
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}






#info_title {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb( 43, 47, 56);
    height: 55px;
    padding: 5px 43%;
    color: rgb( 140, 255, 251);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#info_about_resort table {
    background-color: rgb( 229, 187, 87);
    color: rgb( 43, 47, 56);
    font-weight: 600;
    font-size: medium;
}

.side_text_block {
    border: solid 5px rgb( 229, 187, 87);
    background-color: white;
    width: 25%;
    padding: 5px;
}

#middle_text_block {
    border-top: solid 5px rgb( 229, 187, 87);
    border-bottom: solid 5px rgb( 229, 187, 87);
    background-color: white;
    width: 25%;
    padding: 5px;
}





#Facilities {
    background-color: rgb( 43, 47, 56);
    border: solid 5px rgb( 229, 187, 87);
    display: flex;
    flex-direction: row;
}

#Facilities img {
    width: 47.5%;
    padding-bottom: 0px;
}

#Facilities a {
    color: rgb( 229, 187, 87);
    display: inline;
    font-size: 4vw;
}

#Facilities li {
    font-size: medium;
    padding: 3px;
    display: list-item;
    list-style-type: disc;
    
    font-size: 15px;
}

.list_of_stuff {
    color: white;
    display: block;
    margin-left: 2rem;
}


#Services {
    background-color: rgb( 43, 47, 56);
    border: solid 5px rgb( 229, 187, 87);
    display: flex;
    flex-direction: row;
    flex-grow: 50%;
}

#Services img {
    width: 50%;
}

#Services a {
    color: rgb( 229, 187, 87);
    display: inline;
    font-size: 4vw;
}

#Services div {
    display: block;
    width: 50%;
}

#Services li {
    font-size: medium;
    padding: 3px;
    display: list-item;
    list-style-type: disc;
    
    font-size: 15px;
}





#Spa {
    border: solid 5px rgb( 229, 187, 87);
    background-color: rgb( 43, 47, 56);
    display: flex;
    flex-direction: column;
    text-align: center;
}

#Spa h3 {
    color: rgb( 229, 187, 87);
    font-size: 3vw;
}

#Spa div {
    color: white;
    font-size: 20px;
}

#spa_01 {
    width: 100%;
}






#Events {
    background-color: rgb( 43, 47, 56);
    color: white;
    border: solid 5px rgb( 229, 187, 87);
}

#Events img {
    width: 70%;
}

#Events a {
    width: 27.5%;
    float: right;
    font-size: 4vw;
    padding-top: 2.5rem;
}





.form {
    background-color: rgb( 43, 47, 56);
    border: solid 3px rgb( 229, 187, 87);
    color: rgb( 229, 187, 87);
    width: 225px;
    height: 100px;
    font-size: large;
    font-weight: 700;
    padding: 3px;
    margin: 4px;
}

.input_box_date {
    width: 55px;
}

.input_box_people {
    width: 20px;
    margin-bottom: 5px;
}

footer {
    text-align: center;
    color: white;
}




















@media only screen and (max-width: 599px) {
    /*
    size of screen from 600px -
    */

    #spa_02 {
        display: none;
    }

    .side_text_block {
        border: solid 5px rgb( 229, 187, 87);
        background-color: white;
        width: 25%;
        padding: 5px;
    }
    
    #middle_text_block {
        border-top: solid 5px rgb( 229, 187, 87);
        border-bottom: solid 5px rgb( 229, 187, 87);
        background-color: white;
        width: 25%;
        padding: 5px;
    }

    li {
        padding: .25rem;
    }

    .resort_name {
        padding: 0.5rem;
    }

}


@media only screen and (min-width: 600px) and (max-width: 899px) {
    /*
    size of screen from 600px to 900px
    */

    #spa_02 {
        display: none;
    }

    #Spa div {
        font-size: x-large;
    }

    #Services li{
        font-size: x-large;
    }

    #Facilities li{
        font-size: x-large;
    }
}


@media only screen and (min-width: 900px) {
    /*
    size of screen from 900px +
    */



    #Services li{
        font-size: x-large;
    }

    #Facilities li{
        font-size: x-large;
    }

    #Spa div {
        font-size: x-large;
    }

    .spa_imgs {
        flex-direction: row;
    }

    #Spa img{
        height: 20rem;
        width: 49%;
    }


    #Events {
        display: flex;
        flex-direction: row;
    }

    #Events a {
        font-size: x-large;
        width: 20%;
    }

    #Events img {
        width: 75%;
        height: 20rem;

    }

    footer {
        padding: 1rem;
    }

    .side_text_block {
        border: solid 5px rgb( 229, 187, 87);
        background-color: white;
        width: 25%;
        padding: 5px;
    }
    
    #middle_text_block {
        border-top: solid 5px rgb( 229, 187, 87);
        border-bottom: solid 5px rgb( 229, 187, 87);
        background-color: white;
        width: 25%;
        padding: 5px;
    } 
    
    #info_about_resort td {
        font-size: 1.5rem;
    }
}
